* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.heading-1 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0; }

.heading-2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem; }

.heading-3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }

.btn {
  position: relative;
  display: block;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #EFD9CE;
  letter-spacing: .2rem;
  overflow: hidden;
  transition: .2s; }

.btn:hover {
  color: #25283D;
  background-color: #EFD9CE;
  font-weight: 700;
  transition-delay: 1s; }

.btn span {
  position: absolute;
  display: block; }

.btn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: .4rem;
  background: linear-gradient(90deg, transparent, #EFD9CE); }

.btn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s; }

.btn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: .4rem;
  background: linear-gradient(270deg, transparent, #EFD9CE); }

.btn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s .5s; }

.btn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: .4rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, #EFD9CE); }

.btn:hover span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s .25s; }

.btn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: .4rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, #EFD9CE); }

.btn:hover span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s .75s; }

.header {
  min-width: 100%;
  height: 15rem;
  background-color: #F6F8FF;
  display: flex;
  flex-direction: column; }
  .header__top {
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__top--logo img {
      width: 7.5rem;
      height: 7.5rem;
      background-position: center;
      background-size: cover; }
    .header__top--cart {
      cursor: pointer; }
      .header__top--cart i {
        font-size: 3.5rem;
        color: #25283D; }
  .header__nav {
    background-color: #8F3985;
    width: 100%;
    height: 5rem;
    margin: 0 auto; }
    .header__nav--list {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .header__nav--list .nav-link {
        font-size: 2rem;
        color: #EFD9CE;
        text-transform: uppercase;
        text-decoration: none; }

.hero {
  width: 100%;
  height: 50rem;
  background: url(../imgs/snakeheader.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero__content--title {
      color: #F6F8FF;
      font-size: 6rem;
      margin-bottom: 3rem; }
    .hero__content--description {
      font-size: 1.6rem;
      color: #EFD9CE;
      filter: brightness(80%);
      letter-spacing: .2rem;
      margin-bottom: 3rem; }

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(37, 40, 61, 0.75);
  z-index: -1; }

.gallery__item {
  width: 10rem;
  height: 10rem; }

.gallery__img {
  width: 100%;
  height: 100%; }

.card {
  border: .1rem solid #000; }
  .card__slider {
    border: .1rem solid #000;
    width: 84%;
    height: 35rem;
    margin: 0 auto;
    overflow: hidden; }
    .card__slider--item {
      display: inline-block;
      width: 30rem;
      height: 35rem;
      margin: 0 1rem; }

.footer {
  background-color: #25283D;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content 1fr min-content;
  grid-column-gap: 2rem; }
  .footer__btnToTop {
    background-color: #A675A1;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: -2.5rem auto 3rem auto;
    text-decoration: none;
    cursor: pointer;
    grid-column: 3 / 4;
    display: grid; }
    .footer__btnToTop--icon {
      color: #25283D;
      font-size: 4rem;
      padding: .5rem;
      justify-self: center;
      align-self: center; }
  .footer__contact {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
    .footer__contact--logo {
      width: 8rem;
      height: 8rem;
      margin: 0 auto 1.5rem auto; }
      .footer__contact--logo img {
        width: 100%;
        height: 100%; }
    .footer__contact .contact {
      display: flex;
      align-items: center; }
      .footer__contact .contact i {
        color: #A675A1;
        font-size: 1.4rem;
        margin-right: 1rem; }
      .footer__contact .contact p {
        color: #EFD9CE;
        font-size: 1.4rem; }
      .footer__contact .contact:not(:last-child) {
        margin-bottom: .5rem; }
  .footer__follow {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
    .footer__follow--heading {
      color: #EFD9CE;
      text-align: center; }
    .footer__follow--list {
      display: flex;
      justify-content: space-between; }
      .footer__follow--list i {
        color: #A675A1;
        font-size: 2.4rem; }
  .footer__support {
    grid-column: 5 / 6;
    grid-row: 2 / 3; }
    .footer__support--heading {
      color: #A675A1; }
    .footer__support--list {
      list-style-type: none; }
      .footer__support--list-item {
        font-size: 1.4rem; }
        .footer__support--list-item:not(:last-child) {
          margin-bottom: .5rem; }
      .footer__support--list .item-link {
        font-weight: 700;
        color: #EFD9CE;
        text-decoration: none; }
  .footer__copyright {
    font-size: 1.4rem;
    color: #EFD9CE;
    text-align: center;
    padding: 3rem 0 1.5rem 0;
    grid-column: 2 / 5;
    grid-row: 3 / 4; }
